using System;
using System.Collections.Generic;
using System.Text;

namespace ChavLang.Tokens
{
    public class $CLASSNAME$ : TokenBase
    {
        public $CLASSNAME$(string contents) : base(contents)
        {

        }
    }
}
